.is-dark {
  header {
    transition: all 0.3s;
    -webkit-backdrop-filter: blur(25px) !important;
    backdrop-filter: blur(25px) !important;
    background: rgba(0, 0, 0, 0.5) !important;
    border-bottom: none;

    .header__menu {
      ul {
        a {
          color: #87898c;

          &.active {
            color: #f5f6f7;
          }
        }
      }
    }
  }
}
