.header__1 {
  position: fixed;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
  border-bottom: none;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(25px) !important;
  backdrop-filter: blur(25px) !important;
  background: #f5f6f79f !important;

  .wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 13px 0;
  }

  .header__logo {
    img {
      height: 1rem;
      width: auto;
    }
  }

  .header__menu {
    -ms-overflow-style: none;
    margin-right: 32%;
    scrollbar-width: none;

    li {
      .color_black {
        white-space: nowrap;
        font-size: 15px;
        font-weight: 500;
        color: #6f7073;
      }

      .color_black.active,
      .color_black:hover {
        color: #1a1a1a;
      }
    }
  }

  .header-search-btns-div {
    display: flex;

    .menu__btn {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      cursor: pointer;

      .line {
        width: 30px;
        height: 3px;
        margin: 4px 0;
        border-radius: 5px;
        background-color: #1a1a1a;
        transition: 0.3s ease-in-out;
      }

      &.active {
        .line {
          position: absolute;
        }

        .line:first-child {
          rotate: 45deg;
        }

        .line:nth-child(2) {
          display: none;
        }

        .line:nth-child(3) {
          rotate: -45deg;
        }
      }
    }
  }

  .header__search {
    background: transparent;
    border: none !important;
    border-radius: 50px;
    height: 2rem;
    margin-top: 2px;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 15rem;
    box-shadow: 0 3px 30px rgb(0 0 0 / 8%);

    input {
      background: transparent !important;
      border: none !important;
      border-radius: 50px;
      font-weight: 500;
      font-size: 12px;
      height: 100%;
      padding-left: 2rem;
      width: 100%;
    }

    .header__result {
      background: transparent;
      color: #b8bbbf;
      border: none;
      border-radius: 200px;
      height: 2rem;
      left: 2px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 2rem;

      .bi.bi-search {
        position: relative;
        top: 1px;
      }
    }
  }

  .header__btns {
    align-items: center;
    display: flex;

    .container.dark-mode-div {
      padding-left: 21px;
      padding-right: 18px;
      padding-top: 2px;

      .mode_switcher {
        .mode {
          border: none !important;
          box-shadow: 0 3px 30px rgb(0 0 0 / 8%);
          border-radius: 50px;
          color: $color_white;
          height: 33px;
          justify-content: center;
          width: 33px;

          .bi.bi-moon-fill {
            color: #87898c !important;
          }
        }
      }
    }
  }

  .header__mobile {
    background: $color_white !important;
    box-shadow: 0 17px 13px 0 #192c4b05;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    left: 0;
    margin: 0 !important;
    opacity: 0;
    overflow: hidden;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 61px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 100%;
    z-index: 9;

    &.visible {
      opacity: 1;
      overflow: visible;
    }

    ul {
      flex-direction: column;

      li a {
        color: #6f7073;
        font-size: 22px;
        font-weight: 500;

        &.active {
          color: #000;
        }
      }
    }

    .headers-btns-div {
      left: 50px;
      right: 50px;
      align-items: center;
      bottom: 5%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px !important;
      position: absolute;

      .header-btn {
        font-size: 20px;
        padding-bottom: 23px;
        padding-top: 23px;
        width: 48%;
      }

      .header-btn.header-btn-signup {
        background: linear-gradient(
          45deg,
          #ff847d,
          #ff6b9e 30%,
          #3641fd 55%,
          #39f
        ) !important;
      }

      .header-btn.header-btn-signin {
        background-color: #39f;
      }
    }
  }
}
