$color_stroke: #e2eef1;
$color_brand: #566ffe;
$color_dark: #0b1b27;
$color_brand_light: rgba(86, 111, 254, 0.15);
$color_grad: linear-gradient(101deg, #fc2fa4 0%, #902dff 57%, #4b4cf6 100%);
$color_text: #6f7d95;
$color_input: #f2f7fa;
$color_light: #f9fbfc;
$color_body: #f5f5f7;
$color_hard_light: #e6edf0;
$color_white: #ffffff;
$color_black: #183b56;
$color_green: #36b37e;
$color_info: #1384e0;
$color_red: #eb5757;
$color-grey: #edf3f5;
$color-grey-icon: #91a1bc;
$color_yellow: #d7e932;
$color_brand2: green;
$color_blue2: #1a8cff;
